body{
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 80vw;
    
}

.descriptionSite{
  width: 55vw;
}
  
  
 
.titleStarter img{
  width: 45%;
  border: 7px solid black;
}


.tuto h2{
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 4px solid black;
    
    width: 80%;
    text-align: center;
}


.linkedinlearn{
  text-align: center;
  margin: 70px 0;
}

.linkedinlearn h1{
  font-size: 3rem;
  margin: 30px;
}

.linkedinlearn h2{
  font-size: 1.9rem;
}


.linkedinlearn p{
  width: 40vw;
  font-size: 1.5rem;
  margin: 30px 0;
}

.linkedinlearn img{
  width: 15vw;
  margin: 30px;
}


.descriptionSite p {
  width: 100%;
  padding: 0 30px;
}





.mozillafire img{
  width: 250px;

}

.buttonLinky a{
  width: auto;
  color: black;
  text-decoration: none;
}

.buttonLinky a:visited{
  width: auto;
  color: black;
  text-decoration: none;
}

.buttonLinky{
  font-size: 30px;
}



.html-link{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
  background: url(../img/html.png);
  background-position: center;
  background-size: cover;
}

.css-link{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
  background: url(../img/css.png);
  background-position: center;
  background-size: cover;
}

.java-script-link{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
  background: url(../img/javascript.png);
  background-position: center;
  background-size: cover;
}

.php-link{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
  background: url(../img/php-logo.png);
  background-position: center;
  background-size: cover;
}

.python-link{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
  background: url(../img/python-logo.png);
  background-position: center;
  background-size: cover;
}

.swift-link{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
  background: url(../img/swift-logo.png);
  background-position: center;
  background-size: cover;
}


.linkedinLink{
  display: flex;
  justify-content: space-around;
}



/* RESPONSIVE  */


@media only screen and (max-width: 700px) { 


  .logo img{
    width: 100%;
    
  }

  .titleStarter img{
    width: 70%;
  }

	.linkedinlearn img{
    width: 80%;
  }

  .descriptionSite{
    width: 100%;
    padding: 0 10px;
    
  }

  .descriptionSite h1{
    width: 100%;
    margin: auto;
    margin: 20px 0;
    
  }

  .descriptionSite h2{
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    
  }

  .descriptionSite p{
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    margin: 10px 0;
    
  }

  .html-link, .css-link, .java-script-link, .php-link, .python-link, .swift-link{

    overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:50px;
  height:50px;
  background-position: center;
  background-size: cover;
  margin: 10px 10px;

  }
}






/* ------- RACCOURCI ------- */


.flex{
  display: flex;
}


.justifyC{
  justify-content: center;
}

.justifySA{
  justify-content: space-around;
}

.justifySB{
  justify-content: space-between;
}

.alignC{
  align-items: center;
}

.flexDC{
  flex-direction: column;
}

.borderb{
  border: 2px solid black;
}

.sise{
  height: auto;
  width: 100vw;
  
}













/* ----- TITLE HTML ----- */

@media only screen and (max-width : 750px) 
    {
   .linkedinlearn{
     display: flex;
     justify-content: center;
     flex-direction: column;
     
}

    }