*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ---- BODY ---- */

body{
    background: black;
}


/* ---- POSITION DU LOGO ---- */

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.logo img{
    width: 500px;
    margin: 10px;
    
}




.logo h2{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}





/* ---- POSITION DE LA PRESENTATION ---- */


.containera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/* ---- CONFIGURE LE CONTOUR DE LA CARD---- */

.containera .carda{
    position: relative;
    width: 220px;
    height: 270px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


/* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */

.containera .carda .contenta{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.12s;
    font-family: Arial, Helvetica, sans-serif;
}


/* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */

.containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-8px);

}

/* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */

.containera .carda .contenta .imgArt{
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.35);

}

.containera .carda .contenta .imgArt img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}

.containera .carda .contenta .imgArt img:hover{

   
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    

}

/* ---- CONFIGURE LE NOM DE L'ARTISTE---- */

.containera .carda .contenta .contentaArt h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    
}

/* ---- CONFIGURE LE STYLE DE MUSIQUE---- */

.containera .carda .contenta .contentaArt h3 span{


    font-size: 18px;
    font-weight: 300;
    text-transform: initial;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer h2, footer h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    
}


@media only screen 
   and (max-width : 532px) {

    .logo img{
        width: 300px;
        margin: 10px;
        
    }


.containera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/* ---- CONFIGURE LE CONTOUR DE LA CARD---- */

.containera .carda{
    position: relative;
    width: 135px;
    height: 210px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


/* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */

.containera .carda .contenta{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}


/* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */

.containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-8px);

}

/* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */

.containera .carda .contenta .imgArt{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.35);

}

.containera .carda .contenta .imgArt img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- CONFIGURE LE NOM DE L'ARTISTE---- */

.containera .carda .contenta .contentaArt h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    
}

/* ---- CONFIGURE LE STYLE DE MUSIQUE---- */

.containera .carda .contenta .contentaArt h3 span{


    font-size: 18px;
    font-weight: 300;
    text-transform: initial;
}
  
}

/* ------- RACCOURCI ------- */


.flex{
    display: flex;
}


.justifyC{
    justify-content: center;
}

.justifySA{
    justify-content: space-around;
}

.justifySB{
    justify-content: space-between;
}

.alignC{
    align-items: center;
}

.flexDC{
    flex-direction: column;
}

.borderb{
    border: 2px solid black;
}

.sise{
    height: auto;
    width: 100vw;
    
}

.flexEn{
    justify-content: flex-end;
}






