*{
    margin: 0;
    padding: 0;
}

body{
 background: black;
 scrollbar-color: black;
}

.logo-title{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.logo-title img{
    width: 100%;
    margin: auto;
   
}

/* ---- POSITION DE LA PRESENTATION ---- */


.containera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.containera h3{
    color: white;
}

.first h2{
    color: white;
}

/* ---- CONFIGURE LE CONTOUR DE LA CARD---- */

.containera .carda{
    position: relative;
    width: 200px;
    height: 300px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


/* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */

.containera .carda .contenta{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}


/* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */

.containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-10px);

}

/* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */

.containera .carda .contenta .imgArt{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.35);

}


.containera .carda .contenta .imgArt img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- CONFIGURE LE NOM DE L'ARTISTE---- */

.containera .carda .contenta .contentaArt h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.containera .carda .contenta .contentaArt h4{

    font-size: 14px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
   
    
  

}

.containera .carda .contenta .contentaArt h2{
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;

}

@media only screen 
   and (min-width : 320px) {
   .containera{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
}

  





