*{
    margin: 0;
    padding: 0;
}

body{
 background: black;
 scrollbar-color: black;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

.section-title{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-title h2{
    color: white;
    border: 2px solid white;
    padding: 20px;
}

.box{
    display: none;
    width: 100%;
}

.imgArt:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}


.logo-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
    margin-bottom: 50px;
}

.logo-page{
    padding: 20px 0 0 0;
    width: 200px;
}

.logo-title img{
    
    margin: auto;
   
}

.title-section{
    display: flex;
    justify-content: center;
}

.title-section h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    margin: 10px 0px;
    font-weight: 1000;
}

/* ---- POSITION DE LA PRESENTATION ---- */


.containera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.containera h3{
    color: white;
}

.first h2{
    color: white;
}

/* ---- CONFIGURE LE CONTOUR DE LA CARD---- */

.containera .carda{
    position: relative;
    width: 330px;
    height: 220px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: -4px 0px 36px 11px rgba(0,14,140,0.75);
-webkit-box-shadow: -4px 0px 36px 11px rgba(0,14,140,0.75);
-moz-box-shadow: -4px 0px 36px 11px rgba(0,14,140,0.75);
}


/* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */

.containera .carda .contenta{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    opacity: 0.5;
    transition: 0.5s;
}


/* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */

.containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-10px);

}

/* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */

.containera .carda .contenta .imgArt{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.35);
    

}


.containera .carda .contenta .imgArt img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- CONFIGURE LE NOM DE L'ARTISTE---- */

.containera .carda .contenta .contentaArt h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.containera .carda .contenta .contentaArt h4{

    font-size: 14px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
   
    
  

}

.containera .carda .contenta .contentaArt h2{
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;

}


@media only screen 
   and (max-width : 532px) {

    .logo-title img{
        width: 300px;
        margin: auto;
       
    }


.containera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/* ---- CONFIGURE LE CONTOUR DE LA CARD---- */

.containera .carda{
    position: relative;
    width: 135px;
    height: 225px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


/* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */

.containera .carda .contenta{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}


/* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */

.containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-8px);

}

/* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */

.containera .carda .contenta .imgArt{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.35);

}

.containera .carda .contenta .imgArt img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- CONFIGURE LE NOM DE L'ARTISTE---- */

.containera .carda .contenta .contentaArt h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    
}

/* ---- CONFIGURE LE STYLE DE MUSIQUE---- */


  
}

  





